{% extends "base.html" %}

{% block title %}Create Todo{% endblock title %}
{% load static %}
{% block custom_css %}

<link rel="stylesheet" href="{% static 'create.css' %}">
{% endblock custom_css %}

{% block body %}
<div class="todo-container">
    <h2>Create New Todo</h2>

    <form method="POST" action="" class="todo-form" id="todoForm">
        {% csrf_token %}
        
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <div class="error-message">
                {{ field.errors.as_text }}
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <button type="submit" class="submit-btn">Submit</button>
    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>


{% endblock body %}
