{% extends "base.html" %}
{% block title %}Create Todo{% endblock title %}

{% block custom_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'create_todo.css' %}"/>
{% endblock custom_css %}

{% block body %}
<div class="todo-container">
    <h2>Create New Todo</h2>
    <form method="POST" action="" class="todo-form" id="todoForm">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-btn">Submit</button>
    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

{% block custom_js %}
{% load static %}
<script src="{% static 'create_todo.js' %}"></script>
{% endblock custom_js %}
{% endblock body %}
